Solutions/Templates/Workflows/TemplatesPrepareTemplateDataShort-C88F8D2E-0BED-EE11-A1FD-000D3A847187.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ita_sharedcommondataserviceforapps_606bf"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ita_sharedsharepointonline_05a3d"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_excelonlinebusiness": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cra6f_sharedexcelonlinebusiness_33cd2"
        },
        "api": {
          "name": "shared_excelonlinebusiness"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ita_sharedcommondataserviceforapps_2f8c2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SharepointSiteUrl (ita_SharepointSiteUrl)": {
          "defaultValue": "https://treecatsoftware.sharepoint.com/sites/Dynamics",
          "type": "String",
          "metadata": {
            "schemaName": "ita_SharepointSiteUrl"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "8c391a59-cb0c-4e6f-8882-3be6c208f373"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "EntityType",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "RecordId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "description": "Please enter your input",
                  "title": "TemplateId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "Please enter your input",
                  "title": "ActionId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ]
            }
          }
        }
      },
      "actions": {
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Add_a_new_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "de6a361d-703f-4477-801e-8596e3fbb6e1"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {},
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "Add_a_new_row": {
          "runAfter": {
            "Add_a_row_into_a_table": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "45cc56e9-2743-4bd1-821d-3ac7fd79689e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ita_templatedownloads",
              "item/ita_name": "@triggerBody()?['text']",
              "item/ita_actionid": "@triggerBody()?['text_3']",
              "item/ita_entitytype": "@triggerBody()?['text']",
              "item/ita_filename": "@concat(outputs('Get_a_row_by_ID')?['body/ita_name'],'_',outputs('FileName'),'.dotm')",
              "item/ita_fileurl": "https://treecatdev.crm3.dynamics.com/api/data/v9.0/ita_documenttemplates(@{triggerBody()?['text_2']})/ita_file/$value",
              "item/ita_recordid": "@triggerBody()?['text_1']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_a_row_by_ID": {
          "runAfter": {
            "FileName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1eb7caea-8ee6-4052-9848-528ab4bc922e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ita_documenttemplates",
              "recordId": "@triggerBody()?['text_2']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_file_content_using_path": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "19123b6e-2174-4885-9b7c-32ba86400fa5"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetFileContentByPath",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('SharepointSiteUrl (ita_SharepointSiteUrl)')",
              "path": "/Shared Documents/MacrosTemplates/DataExportTemplate.xlsx",
              "inferContentType": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Create_file": {
          "runAfter": {
            "Get_file_content_using_path": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f403708a-5a7f-4c00-8fc6-1e8861ae8127"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('SharepointSiteUrl (ita_SharepointSiteUrl)')",
              "folderPath": "/Shared Documents/MacrosTemplates/Data",
              "name": "@{outputs('FileName')}.xlsx",
              "body": "@body('Get_file_content_using_path')"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Send_an_HTTP_request_to_SharePoint": {
          "runAfter": {
            "Create_file": [
              "Succeeded",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "e1e0a350-41ea-41be-b0b4-5aa3cee7b373"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "HttpRequest",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('SharepointSiteUrl (ita_SharepointSiteUrl)')",
              "parameters/method": "GET",
              "parameters/uri": "_api/v2.1/drive/root:/MacrosTemplates/Data/@{outputs('FileName')}.xlsx"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Add_a_row_into_a_table": {
          "runAfter": {
            "Get_a_row_by_ID_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "01X2ZVAIADQA55IIDWXNFJ2PH7MM6VKOR2": "/ITA/Data/57625C5C-27B8-431A-926E-FC3A83119958.xlsx",
            "operationMetadataId": "05de3f92-761a-4d59-983f-722d5cd8d66a",
            "tableId": "{27FEF8BA-432E-42B8-9E10-ECEA2EC72963}"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_excelonlinebusiness",
              "operationId": "AddRowV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
            },
            "parameters": {
              "source": "@parameters('SharepointSiteUrl (ita_SharepointSiteUrl)')",
              "drive": "@body('Send_an_HTTP_request_to_SharePoint')['parentReference']?['driveId']",
              "file": "@body('Send_an_HTTP_request_to_SharePoint')['id']",
              "table": "{2EA1E82E-A5BE-4197-BD2E-E2F8DF0C17F5}",
              "item": {
                "Name": "@{outputs('Get_a_row_by_ID_2')?['body/ita_name']}",
                "Data Column": "@{outputs('Get_a_row_by_ID_2')?['body/ita_datacolumn']}"
              }
            },
            "authentication": "@parameters('$authentication')",
            "retryPolicy": {
              "type": "none"
            }
          }
        },
        "FileName": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a3366f2d-82c2-4d99-bcd5-02d9bef3fbcb"
          },
          "type": "Compose",
          "inputs": "@replace(replace(replace(concat(triggerBody()['text_3'],triggerBody()['text_1']),':',''),'.',''),'-','')"
        },
        "Get_a_row_by_ID_2": {
          "runAfter": {
            "Send_an_HTTP_request_to_SharePoint": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "56c71788-ee9b-4b68-86d6-27cf19b7c1bf"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ita_templatedemodatas",
              "recordId": "@triggerBody()['text_1']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}